{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block content %}
    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.png">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{% trans 'Our Courses'%}</h1>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="{% url 'index' %}">{% trans 'Home'%}</a></li>
                        <li>{% trans 'Our Courses'%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!--==============================
      Course Area
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                {% for course in courses %}
                <div class="col-md-6 col-xl-12">
                    <div class="course-style4 layout2" data-bg-src="assets/img/bg/course-list-bg.png">
                        <div class="course-img">
                            <a href="{% url 'course-details' course.id %}">
                                {% if course.preview_image %}
                                    <img class="w-100" src="{{course.preview_image.url}}" alt="Course Img">
                                {%else%}
                                    <img class="w-100" src="{% static 'assets/img/about/program-details-2.jpg'%}" alt="Course Img">
                                {% endif %}
                                
                            </a>
                        </div>
                        <div class="course-content">
                            <div class="course-category"><a href="{% url 'course-details' course.id %}">{{course.course_type}}</a></div>
                            <h3 class="course-name"><a href="{% url 'course-details' course.id %}">{{course.title}}</a></h3>
                            <div class="course-meta">
                                <a href="{% url 'course-details' course.id %}"><i class="fas fa-user-tie"></i><span class="total-student">{{course.student_count}} {% trans 'Students'%}</span></a>
                                <a href="{% url 'course-details' course.id %}"><i class="far fa-tv"></i><span class="course-hour">{{course.sections.count}} {% trans 'Sections'%}</span></a>
                                <a href="{% url 'course-details' course.id %}"><i class="far fa-clock"></i><span class="course-hour">{{course.duration}}</span></a>
                            </div>
                            <div class="course-middle">
                                <div class="course-price">
                                    <span class="price"><del>${{course.price}}</del> ${{course.price|get_cuurect_price}}</span>
                                    <small class="discount">30% {% trans 'Off'%}</small>
                                </div>
                                {% if "youtube.com/watch" in course.youtube_url %}
                                    {% with course.youtube_url|cut:"https://www.youtube.com/watch?v=" as youtube_id %}
                                        <a href="https://www.youtube.com/embed/{{ youtube_id }}" class="vs-btn style5 popup-video">
                                        <i class="fas fa-play"></i>{% trans "Preview Course" %}
                                        </a>
                                    {% endwith %}
                                {%else%}
                                <a href="{{course.vimeo_url}}" class="vs-btn style5 popup-video"><i class="fas fa-play"></i>{% trans 'Preview Course'%}</a>
                                {% endif %}
                            </div>
                            <div class="course-bottom">
                                <div class="course-author">
                                    <a href="{% url 'team-details' course.tutor.id %}" class="text-inherit">
                                        {% if course.tutor.profile_image %}
                                            <img src="{{course.tutor.profile_image.url}}" alt="About Author">
                                        {%else%}
                                            <img src="{% static 'assets/img/about/author-1-1.png' %}" alt="About Author">
                                        {% endif %}
                                        {{course.tutor.name}}
                                    </a>
                                </div>
                                <div class="course-review">
                                    {% for i in course.tutor.rating|times %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    <span class="review-avarage">(  {{course.tutor.rating}} )</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <li>{% trans 'No articles found.'%}</li>
                {% endfor %}

            </div>
            <div class="vs-pagination">
                <ul class="pagination">
                    {% if courses.has_previous %}
                        <li class="prev"><a href="?page={{ courses.previous_page_number }}">{% trans 'Previous'%}</a></li>
                    {% else %}
                        <li class="prev disabled"><a >{% trans 'Previous'%}</a></li>
                    {% endif %}

                    {% for num in courses.paginator.page_range %}
                        {% if num == 1 %}
                            {% if num == courses.number %}
                                <li><a class="disabled" style="background-color: rgba(0, 0, 0, 0.1);">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% if courses.number > 4 %}
                                <li><a>...</a></li>
                            {% endif %}
                        {% elif num >= courses.number|add:'-2' and num <= courses.number|add:'2' %}
                            {% if num == courses.number %}
                                <li><a class="disabled" style="background-color: rgba(0, 0, 0, 0.1);">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}" >{{ num }}</a></li>
                            {% endif %}
                        {% elif num == courses.paginator.num_pages %}
                            {% if courses.number < courses.paginator.num_pages|add:'-3' %}
                                <li><a>...</a></li>
                            {% endif %}
                            {% if num == courses.number %}
                                <li><a class="disabled" style="background-color: rgba(0, 0, 0, 0.1);">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                    {% if courses.has_next %}
                        <li class="next"><a href="?page={{ courses.next_page_number }}">{% trans 'Next'%}</a></li>
                    {% else %}
                        <li class="next disabled"><a>{% trans 'Next'%}</a></li>
                    {% endif %}
                </ul>

            </div>
            <!-- <div class="vs-pagination">
                <ul>
                    <li class="prev"><a href="#">Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">.....</a></li>
                    <li><a href="#">10</a></li>
                    <li class="next"><a href="#">Next</a></li>
                </ul>
            </div> -->
        </div>
    </section>

{% endblock %}